
// Bootstrap Variables
$icon-font-path: '../fonts/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//color pallette
$lt-grey-color: rgb(158, 158, 166);

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//---------------------------------------------------------------
//                     LOGIN FORM STYLES
//---------------------------------------------------------------
#login-form{
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  padding: 30px 15px;
  margin-top: 150px;
  border: 2px solid $lt-grey-color;
  border-radius: 10px;
  input, button{
    height: 48px;
    width: 100%;
    border-radius: 5px;
  }
  input{
    margin-bottom: 24px;
  }
}

//---------------------------------------------------------------
//                     HEADER STYLES
//---------------------------------------------------------------
.title-bar {
  // background-color: red;
}
.room-meta, .room-meta-right{
  height: 48px;
}
.room-meta{
  @include make-sm-column(4);
}
.room-meta-right{
  @include make-sm-column(8);
}
.room-name{
  text-transform: lowercase;
  font-size: 20px;
  font-weight: bold;
}
.room-users{
  color: $lt-grey-color;
  font-style: italic;
}
.room-meta-right{
  text-align: right;
}
.title-bar-search{
  padding: 10px;
  display: inline-block;
  &:not(:first-of-type){
    margin-left: -4px;
  }
}
.user-info{

}
.user-avatar{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
  vertical-align: bottom;
}
.title-bar-search{
  width: 70%;
  height: 48px;
  input{
    width: 80%;
  }
  button{
    width: 20%;
    margin-left: -4px;
  }
}


//---------------------------------------------------------------
//                     CHAT AREA STYLES
//---------------------------------------------------------------
.chat-area{
  margin-top: 25px;
}
.chat-inner, .chat-form{
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
}
.chat-inner{
  border: 2px solid $lt-grey-color;
  border-radius: 10px;
  height: 500px;
  margin-bottom: 25px;
  padding: 15px;
  overflow-y: scroll;
}
.message-holder{
  @include make-row();
}
.message{
  @include make-sm-column(12);
  margin-bottom: 12px;
}
.message-bubble{
  padding: 10px;
  border-radius: 5px;
}
.message-avatar{
  width: 3%;
  margin-right: 2%;
  height: auto;
}
.message-meta-meta{
  width: 90%;
  display: inline-block;
  vertical-align: top;
}
.user-handle{
  font-weight: bold;
  margin-right: 10px;
}
.post-time{
  font-size: 85%;
  font-weight: 200;
}

.user, .other{
  padding: 15px;
  border-radius: 5px;
}
.user{
  background-color: $lt-grey-color;
  .post-time{
    color: darken($lt-grey-color, 40%);
  }
}
.other{
  // float: left;
  color: white;
  background-color: darken( $lt-grey-color, 40%);
  .post-time{
    color: $lt-grey-color;
  }
}
.chat-form{
  padding: 0;
  input,button{
    height: 48px;
    border: 2px solid $lt-grey-color;
  }
  input{
    width: 95%;
    border-right: none;
    border-radius: 10px 0 0 10px;
  }
  button{
    width: 5%;
    margin-left: -4px;
    border-radius: 0 10px 10px 0;
  }
}
